<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Assignment</title>
</head>
<body>
    <h1>Delete Assignment</h1>
    <form action="/delete_ass" method="POST">
    {% csrf_token %}
   <label>Assignment Id: </label> <input type="number" name="assignmentid" >
   <label>Assignment Name: </label> <input type="text" name="assignmentname" >
   <input type="submit" value="Delete">
    </form>
</body>
</html>